doctype
html
  head    
    title My Phaser Flapppy Bird game 
    link(href="main.css" rel="stylesheet")

  body
    h1 my flappy bird game
    script(src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.3.0/phaser.js")
    script(src="game.js")
