doctype
html
  head    
    title My Phaser Flapppy Bird game 
    link(href="main.css" rel="stylesheet")

  body
    hi my flappy bird game

    canvas.game(hight=600 width=800)

    script(src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.3.0/phaser.js")
    script(src="game.js")
